
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.contianer {
  @apply m-auto w-[90%]
}

.logo {
  font-family: "Noto Sans TC", sans-serif;
}

.f {
  @apply flex  items-center
}



::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; /* Color of the track (background of scrollbar) */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0E0D0A; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0E0D0A; /* Color when hovering over the handle */
}


.bordersketeton {
  @apply absolute    border-third border-2 rounded-tr-[130px] rounded-bl-[130px]  -top-4 -right-2  -z-10
}

.cart:hover .cartline {
  transform: translateX(130px);
}
.cart:hover .cartlinet {
  transform: translateX(0px);
}


.pop-out {
  opacity: 0;
  transform: scale(0.5); /* Start with a smaller scale */
  transition: transform 0.3s ease, opacity 0.5s ease; /* Smooth transition */
}


@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}